body {
    background-color: aquamarine;
    font-family: sans-serif, "Calibri";
    color: black;
    font-size: 16px;
    font-weight: normal;
}
a {
	color: orange;
}
h1 {
	color: hotpink;
}
strong {
	color: hotpink;
}